In [2]:
%pip install awswrangler

Collecting awswrangler
  Downloading awswrangler-3.7.3-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: boto3<2.0.0,>=1.20.32 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (1.34.51)
Requirement already satisfied: botocore<2.0.0,>=1.23.32 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (1.34.51)
Requirement already satisfied: numpy<2.0,>=1.18 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (1.26.4)
Requirement already satisfied: packaging<25.0,>=21.1 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (23.2)
Requirement already satisfied: pandas<3.0.0,>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (2.1.4)
Requirement already satisfied: pyarrow>=8.0.0 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (12.0.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.4.0 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (4.5.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /opt/conda/lib/python3.10/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (2.9.0)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (1.26.18)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.23.32->awswrangler) (1.16.0)
Downloading awswrangler-3.7.3-py3-none-any.whl (378 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 378.2/378.2 kB 27.2 MB/s eta 0:00:00
Installing collected packages: awswrangler
Successfully installed awswrangler-3.7.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import awswrangler as wr

In [5]:
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/sample.parquet"
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/trans_2024-05-13_2024-05-13_top_10_10.parquet"
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/trans_2024-05-13_2024-05-13_top_101.parquet"
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/trans_2024-05-13_2024-05-13_top_2001.parquet"

df_data_raw = wr.s3.read_parquet(path=s3_path)
df_data_raw.shape

(3156735, 8)

In [6]:
df_data_raw.head()

,transaction_id,sentence,sentence2,original_description_plaid_processed,true_merchant_name_combined,merchant_name_combined,true_label,label
0,9823228670,CASH APP*DAWN MILLS 800- CA 05/11. Channel: No...,CASH APP*DAWN MILLS 800- CA 05/11. Type: payme...,CASH APP*DAWN MILLS 800- CA 05/11,Cash App,Dollar Tree,0,0.149608
1,9782646513,Cash App*Jaycee Hall. Channel: None. Amount: -...,Cash App*Jaycee Hall. Type: payment_app. Chann...,Cash App*Jaycee Hall,Cash App,Earnin,0,0.058471
2,9889714757,CASH APP*TINA VANCE San Francisc. Channel: Non...,CASH APP*TINA VANCE San Francisc. Type: paymen...,CASH APP*TINA VANCE San Francisc,Cash App,Jordan''s Kwik Stop,0,0.367670
3,9781579970,Cash App*Jefe*Add Cash. Channel: None. Amount:...,Cash App*Jefe*Add Cash. Type: payment_app. Cha...,Cash App*Jefe*Add Cash,Cash App,Apple,0,0.129702
4,9791996406,CASH APP*SATIVAA WATTS 800- CA 05/12. Channel:...,CASH APP*SATIVAA WATTS 800- CA 05/12. Type: pa...,CASH APP*SATIVAA WATTS 800- CA 05/12,Cash App,Zip.co,0,0.252589

In [7]:
df_data_raw['true_merchant_name_combined'].value_counts()

true_merchant_name_combined
Cash App                15000
Dollar Tree             15000
Earnin                  15000
Amazon                  15000
Walmart                 15000
                        ...
American Income Life      130
Super C                   130
Republic Bk Loc           130
Bnei                      128
Myfico                    128
Name: count, Length: 2001, dtype: Int64

In [8]:
df_data_raw['true_merchant_name_combined'].nunique()

2001

In [11]:
df_data_raw[df_data_raw['true_merchant_name_combined'] == 'Myfico']['true_label'].value_counts()

true_label
0    64
1    64
Name: count, dtype: Int64