In [2]:
import pandas as pd
import awswrangler as wr

In [10]:
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/sample.parquet"
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/trans_2024-05-13_2024-05-13_top_10_10.parquet"
s3_path = "s3://cleo-data-science/transaction_enrichment/experimental_data/caste/trx-merchant-pair/trans_2024-05-13_2024-05-13_top_101.parquet"
df_data_raw = wr.s3.read_parquet(path=s3_path)
df_data_raw.shape

(1401818, 8)

In [11]:
df_data_raw.head()

,transaction_id,sentence,sentence2,original_description_plaid_processed,true_merchant_name_combined,merchant_name_combined,true_label,label
0,9823228670,CASH APP*DAWN MILLS 800- CA 05/11. Channel: No...,CASH APP*DAWN MILLS 800- CA 05/11. Type: payme...,CASH APP*DAWN MILLS 800- CA 05/11,Cash App,Dollar Tree,0,0.050593
1,9782646513,Cash App*Jaycee Hall. Channel: None. Amount: -...,Cash App*Jaycee Hall. Type: payment_app. Chann...,Cash App*Jaycee Hall,Cash App,Earnin,0,0.026283
2,9889714757,CASH APP*TINA VANCE San Francisc. Channel: Non...,CASH APP*TINA VANCE San Francisc. Type: paymen...,CASH APP*TINA VANCE San Francisc,Cash App,Jordan''s Kwik Stop,0,0.326722
3,9781579970,Cash App*Jefe*Add Cash. Channel: None. Amount:...,Cash App*Jefe*Add Cash. Type: payment_app. Cha...,Cash App*Jefe*Add Cash,Cash App,Apple,0,0.069118
4,9791996406,CASH APP*SATIVAA WATTS 800- CA 05/12. Channel:...,CASH APP*SATIVAA WATTS 800- CA 05/12. Type: pa...,CASH APP*SATIVAA WATTS 800- CA 05/12,Cash App,Zip.co,0,0.033212

In [12]:
df_data_raw['true_merchant_name_combined'].value_counts()

true_merchant_name_combined
Cash App           15000
Empower            15000
Earnin             15000
Amazon             15000
Walmart            15000
                   ...
Spotify            10544
Prizepicks         10539
MTA                10491
Paypal Pay in 4    10410
Citgo              10397
Name: count, Length: 101, dtype: Int64

In [13]:
df_data_raw['true_merchant_name_combined'].nunique()

101